@model IEnumerable<CarShowroom.Entities.Extra>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="/css/PagesStyle.css">
</head>
<body>
    <div class="containerCreateCar">
<h2>Списък с екстри</h2>

<p>
    <button onclick="location.href='@Url.Action("Create")'" class="btn">Създаване на нова екстра</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExtraName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.ExtraId })" class="btnDDE">Промени</a>|
                
                <a href="@Url.Action("Details", new { id = item.ExtraId })" class="btnDDE">Детайли</a>|
                <a href="@Url.Action("Delete", new { id = item.ExtraId })" class="btnDelete">Изтрий</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</body>