@model IEnumerable<CarShowroom.Entities.OrderExtra>

@{
    ViewData["Title"] = "IndexCarExtra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="/css/PagesStyle.css">
</head>
<body>
    <div class="containerCreateCar">
<h2>Поръчки с екстри към тях</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extra.ExtraName)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extra.ExtraName)
            </td>
            
        </tr>
}
    </tbody>
</table>
<a href="@Url.Action("Index", "Order")"  class="btnBackToMain">Назад</a>
</div>
</body>
