@model CarShowroom.Entities.TestDrive

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/PagesStyle.css">
</head>
<body>
    <div class="containerCreateCar">
<h2>Изтриване</h2>

<h3>Сигурни ли сте, че искате да изтриете този елемент?</h3>
<div>
    <h4>Тест драйв</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestDriveId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestDriveId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfTestDrive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfTestDrive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfQuery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfQuery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
    </dl>
    
    
       <a href="@Url.Action("DeleteConfirmation", "TestDrive", new { id = Model?.TestDriveId})" class="btnDelete">Изтриване</a>
        <a href="@Url.Action("Index", "TestDrive")"  class="btnBackToMain">Към списък с тест драйв</a>
    
</div>

</div>
</body>
