@model CarShowroom.Entities.TestDrive

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
<head>
    <link rel="stylesheet" href="/css/PagesStyle.css">
</head>
<body>
    <div class="containerCreateCar">

<h2>Детайли</h2>

<div>
    <h4>Тест драйв</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfTestDrive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfTestDrive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Address)
        </dd>
    </dl>
</div>
<div>
    @if(User.Identity.IsAuthenticated)
    {
<a href="@Url.Action("Edit", new { id = Model?.TestDriveId })" class="btnDDE">Промяна</a> 
<a href="@Url.Action("Delete", new { id = Model?.TestDriveId })" class="btnDelete">Изтрий</a>
                <a href="@Url.Action("Index", "TestDrive")"  class="btnBackToMain">Към списък с тест драйв</a>
            }
            else
            {
                <a href="@Url.Action("Index", "Home")"  class="btnBackToMain">Към началната страница</a>
            }
            
    
</div>

</div>
</body>
