@model CarShowroom.Entities.Car

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: rgba(45, 89, 134, 0.8);
    }
    h2{
        text-align: center;
    }
	.containerCreateCar{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
	}
.btnDelete {
  display: inline-block;
    padding: 5px 20px;
    background-color: rgb(204, 0, 0);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.btnBackToMain {
  display: inline-block;
    padding: 5px 20px;
    background-color:  rgba(45, 89, 134, 0.9);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.btnBackToMain:hover {
    background-color:rgb(198, 217, 236);
    color: #404040;
}
.btnDelete:hover {
    background-color:rgb(204, 0, 0,0.3);
}
	.btn {
  display: inline-block;
    padding: 5px 20px;
    background-color:  rgba(45, 89, 134, 0.9);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}
.btnDDE {
  display: inline-block;
    padding: 5px 20px;
    background-color:  rgba(45, 89, 134, 0.9);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.btnDDE:hover {
    background-color:rgb(198, 217, 236);
    color: #404040;
}

.btn:hover {
    background-color:rgb(198, 217, 236);
    color: #404040;
}
.button-container {
    display: flex;
    gap: 10px;
}

</style>
<body>
<div class="containerCreateCar">
<h2>Изтриване</h2>

<h3>Сигурни ли сте, че искате да изтриете този елемент? </h3>

    <h4>Кола</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeFuel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeFuel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeEngine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeEngine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageExpenseTown)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageExpenseTown)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageExpenseOnroad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageExpenseOnroad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageExpenseCombined)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageExpenseCombined)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfManufacure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfManufacure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeCompartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeCompartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureUrl)
        </dd>
    </dl>
    
        <a href="@Url.Action("DeleteConfirmation", "Car", new { id = Model?.CarId})" class="btnDelete">Изтриване</a>
        <a href="@Url.Action("Index", "Car")"  class="btnBackToMain">Към списък с коли</a>
    
</div>
</body>