@model IEnumerable<CarShowroom.Entities.Storage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="/css/PagesStyle.css">
</head>
<body>
    <div class="containerCreateCar">
<h2>Налични коли на склад</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Availability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfManufacture)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Car.Model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Availability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfManufacture)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Car.Model)
            </td>
            
        </tr>
}
    </tbody>
</table>
</div>
</body>